@media (max-width: 1200px){
    .header{
        &__phone{
            font-size: 16px;
        }
	}
	.promo{
		&__header{
			font-size: 41px;
		}
		.button{
			&_main{
			width: 280px;
			height: 45px;
			}
		}
	}
	.slick-slide{
		img{
			width: 700px;
			margin: 0 auto;
		}
	}
	.catalog-item{
		width: 270px;
		min-height: 420px;
	}
}
@media(max-width:991px){
	.container{
		margin-right: 10px;
	}
	.header{
		&__official{
			span{
				font-size: 17px;
			}
		}
	}
	.promo{
		&__header{
			font-size: 37px;
		}
		&__subheader{
			font-size: 22px;
		}
		.button{		
			&_main{
				width: 265px;
				height: 43px;
				font-size: 14px;
			}
		}
		&__link{
			font-size: 15px;
			margin-top: 15px;
		}
	}
	.advantages{
		min-height: 430px;

		.adv{
			&__descr{
				font-size: 13px;
				margin-top: 20px;
			}
			&__item{
				margin-top: 55px;
			}
		}
	}
	.title{
		font-size: 26px;
	}
	.consultation{
		min-height: 600px;
		&__descr{
			font-size: 18px;
		}
		.feed-form{
			width: 280px;
			input{
				height: 45px;
			}
			.button_submit{
				height: 50px;
			}
		}
	}
	.slick-dots{
		display: none
		!important;
		
	}
	.catalog__content_active{
		justify-content: space-around;
	}

}
@media(max-width:767px){
	.header{
		&__logo{
			width: 210px;
		}
		&__official{
			font-size: 11px;
			span{
				font-size: 15px;
			}
		}
		&__phone{
			font-size: 14px;
		}
		.button{
			width: 135px;
		}
	}
	.promo{
		min-height: 600px;
		&__header{
			font-size: 34px;
		}
		&__subheader{
			font-size: 20px;
			margin-top: 7px;
		}
		&__icons{
			width: 410px;
			margin-top: 60px;
		}
		.button{
			&_main{
				width: 260px;
				height: 40px;
				margin-top: 60px;
			}
		}

	}
	.advantages{
		padding: 55px 0 78px;
		min-height: 360px;
		.adv{
			&__descr{
				font-size: 12px;
				margin-top: 12px;
			}
			&__subheader{
				font-size: 17px;
			}
		}
	}
	.consultation{
		min-height: 570px;
		&__descr{
			font-size: 16px;
			text-align: center;
		}
		.title_left{
			text-align: center;
			font-size: 25px;
		}
		.feed-form{
			width: 270px;
			margin: 0 auto;
			margin-top: 36px;
			input{
				height: 45px;
			}
			.button_submit{
				height: 50px;
			}
		}
	}
	.slick-slide {
		width: 576px;
		img{
			width: 576px;
			margin: 0 auto;
		}
	}
	.carousel__inner {
		width: 576px;
	}
	.catalog__tab{
		width: 150px;
		font-size: 16px;
	}
	.slick-next{
		display: none
		!important;
	}
}
@media(max-width:575px){
	.promo{		
		.header{
			flex-wrap: wrap;
			margin: 0 auto;
			justify-content: center;
			&__official{
				font-size: 13px;
				margin-top: 5px;
			}
			&__phone{
				margin-top: 5px;	
			}	
		}	
		&__wrapper{
			align-items: center;
		}
		&__header{
			text-align: center;
			font-size: 35px;
		}
		&__subheader{
			text-align: center;
			font-size: 15px;
			margin-top: 0px;
		}
		&__icons{
			width: 255px;
		}
		&__icon{
			font-size: 11px;
		}
		.button_main{
			margin-top: 38px;
			width: 250px;
			height: 37px;
			font-size: 13px;
		}
		&__link{
			font-size: 14px;
			margin-top: 13px;
		}
	}
	
	.advantages{

		.adv{	
			flex-wrap: wrap;
			justify-content: center;
			&__subheader{
				margin-top: 25px;
			}
			.adv__item{
				max-width:320px;
				margin-top: 50px;
			}
		}
	}
	.title{
		font-size: 25px;
	}
	.consultation{
		min-height: 540px;
		.feed-form{
			width: 250px;
			input{
			height: 40px;
			}
			.button_submit{
				height: 45px;
			}
		}
		&__descr{
			font-size: 15px;
		}
		.title_left{
			font-size: 21px;	
		}
	}
	.slick-slide {
		width: 320px
		!important;
		img{
			width: 320px;
			margin: 0 auto;
		}
	}
	.carousel__inner {
		width: 320px;
	}
	.catalog__tabs{
		margin-top: 35px;
		padding: 0px;
		.catalog__tab{
			width: 86px;
			div{
				font-size: 10px;
			}
		}
	}
}